.grid-item {
  position: relative;
  width: 50%;
  float: left;
  padding: 20px;
}
.grid-sizer {
  width: 50%;
}

.like-button {;
  text-align: left;
  padding-left: 15cd px;
  padding-top: 5px;

}

.btn-space {
    margin-right: 5px;
}
